<h1>{{name}}</h1>

<ul class="etabs">
  <li class="tab active">
    <a href="#" data-js-identifier="latest-events-tab-link">Latest Events</a>
  </li>

  <li class="tab">
    <a href="#" data-js-identifier="starred-events-tab-link">Starred Events</a>
  </li>
</ul>

<div data-js-identifier="events-container" class="events-container">
</div>
